Flask
Flask-Cors
python-dotenv
requests

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-ollama

chromadb

sentence-transformers

pypdf
docx2txt